/*used for a very basic normalize between browsers*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.header{
    font-size: 32px;
    font-weight: 600;
    background-color:#00827f ;/*old colors #30ba8f ;#01579b;*/
    color: #fff;
    text-align: center;
    padding:16px;
    padding-bottom:16px;
    margin-bottom: 20px;
}
.warning{
  text-align: center;
  width: 100%;
  padding-top:10px;
  padding-bottom: 10px;
  background-color: #984d02;
  color:#fff;
}
.img-circle{
  border-radius: 40%;
}
.txt-white{
    color: #fff;
}

.pd-offset{
    padding-left: 100px;
    padding-top: 20px;
}
.mg-sm{
    margin-top: 16px;
}
.mg-bm{
  margin-bottom: 16px;
}
.bg-dark{
  background-color: #1f1f70;
  color: #fff;
}
.profile-img{
  width: 240px;
  height: 240px;
}
.txt-center{
    text-align: center;
}

.section-heading{
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    color: #1f1f70;
    margin-bottom: 16px;
}
.section-heading-dark{
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin-top:16px;
    margin-bottom: 16px;
}

.sub-heading{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: #1f1f70;
    margin-top: 24px;
    margin-bottom: 10px;
}
.sub-heading-dark{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin-top: 24px;
    margin-bottom: 10px;
}

.img-size{
  width: calc(80% - 1%);;
  height:calc(80% - 3%);
}

/*NAVBAR STYLE have done this before*/
nav {
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 5px;
 /*background-image: linear-gradient(-50deg, #01579b 50%, #1f1f70 50%);*/
 background-image: linear-gradient(to bottom right, #1f1f70 70%,#00827f  30% );

 color: #fff;
}


nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1f1f70;
}

nav li {
  float:left;
}

nav li a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover{
    cursor: pointer;
    border-radius: 10%;
}
nav li a:hover:not(.active){
  background-color: #111;
}


.active {
  background-color: #00827f;/*#01579b;#04AA6D;*/
}

/*GRID STYLEs always wanted tor try this*/
.main-container{
    display: grid;
    grid-template-columns: 100%;/*create an easy overall container*/
    gap:16px;
}
.tech-grid-container{
  display: grid;
  grid-template-columns: auto auto;
}

.tech-grid-container ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.tech-item {
  padding: 5px;
  text-align: center;
}

.projects-container{
  display: grid;
  grid-template-columns: auto auto;
  gap: 16px;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.projects-item{
  padding: 20px;
}
.lang-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 90px;
  gap: 10px;
  background-color: #01579b;
  padding: 5px;
}


.lang-item {
  background-color: #1f1f70;
  padding: 5px;
  font-size: 30px;
  text-align: center;
}

